*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Fredoka One', cursive;
}

html{
    margin: 0;
    padding: 0;
}

.container{
    width: 1024px;
    margin: auto;
}



/* menu */

header{
    width: 100%;
    height: 100px;
    background-color: rgb(69, 24, 95);
    line-height: 100px;
    
}
header h1{
    float: left;
    color: white;
    font-size: 80px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
    
    
}
li{

    display: inline;
    text-decoration: none;
    font-size: 23px;
    margin: 0 21px;
}
li a{
    color: white;
    text-decoration: none; /* no underline */
}
li a:hover{
    color: orange;
    transition: .2s;
}

/* cartão inicial de apresentação */

.apresentation{
    width: 100%;
    height: 680px;
    align-items: center;
    display: flex;
    background-color: orange;
}
.apresentation .text{
    color: white;
    margin: auto;
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px 8px black;
    
    
}
.apresentation .text img{
    width: 400px;
    object-fit: cover;
    
}

.apresentation .text .icon{
    width: 250px;
    object-fit: cover;
    
}

/* sobre */

.about{
    
    width: 100%;
    height: 400px;
    align-items: center;
}

.about .text{
    
    
    width: 100%;
    text-align: center;
}

.about .text h1{
    margin-top: 80px;
    color: rgb(69, 24, 95);
}

.about .text p{
    margin-top: 30px;
    padding: 20px;
    text-align: justify;
}

.technologies{
    margin-top: 30px;
    align-content: center;
    width: 100%;
    height: 240px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    column-width: 200px;
}

.technologies .tech{
    width: 120px;
    height: 120px;
    margin: auto;

}

.portfolio{
    margin-top: 100px;
    align-content: center;
    text-align: center;
    align-items: center;
}

.portfolio .section{
    color: rgb(69, 24, 95);
}

.portfolio .project{
    
}

.portfolio .project h1{
    color: orange;
    text-shadow: 1px 1px 2px black;
    margin-top: 30px;
}

.portfolio .project .imageport img{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.portfolio .project .portseparator img{
    margin-top: 80px;
    width: 70%;
    color: wheat;
}

.portfolio .project p{
    margin-top: 20px;
    padding: 10px;
}

.portfolio .project p a{
    color: rgb(69, 24, 95);
    text-decoration: none;
}

.portfolio .project p a:hover{
    color: orange;

}

footer{
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    background-color: rgb(69, 24, 95);
    text-align: center;
}

footer h1{
    color: orange;
}

footer .contact a{
    color: white;
    margin: auto;
}

footer .contact img{
    width: 50px;
}

/* media Carries */

@media only screen and (max-width: 1000px) 
{
    .container
   {
    width: 100%;
   }
   header h1{
       font-size: 65px;
   }
   li{
       font-size: 18px;
       margin: 0 2px;
   }
   .technologies{
    margin-top: 330px;
    column-width: 90px;
    grid-template-columns: 1fr 1fr;
    }
    .technologies .tech{
        width: 90px;
        height: 90px;
        margin: auto;
    
    }
    .apresentation .text img{
        width: 250px;
    }


}
